---
layout: formation.hbs
title: Git - Day to Day 
icon: icon-lt_training
subtitle: Une journée pour maîtriser Git et ses bonnes pratiques
name: Git
---
<div class="row">
  <div class="col-md-8 col-lg-9">
    <h2>{{ title }}</h2>

    <div class="training-section">
      <h3 class="section-title"><span class="title-text">Objectifs</span></h3>
      <p>L'objectif de cette formation se veut pragmatique : <i>Apporter une connaissance pratique de l'outil et des bonnes pratiques associées afin d'en tirer profit au quotidient.</i></p>

      <p>À la fin de la journée, les participants seront confortables avec :</p>
      <ul>
        <li>Le concept de DVCS (<i>Distributed Version Control System</i>) et leur utilité</li>
        <li>L'ensemble des fonctionnalités de git nécessaires au travail de tous les jours</li>
        <li>Le vocabulaire souvent complexe de git</li>
        <li>Les différentes méthodes de travail adaptées à l'utilisation optimale d'un DVCS</li>
      </ul>

      <p>Ce que nous ne ferons pas :</p>
      <ul>
        <li>L'installation et la configuration d'un <i>serveur</i> git</li>
      </ul>

      <p>Les participants repartiront avec le support (contenant les exercices et leurs corrections) ainsi que l'accès au dépôt git de la formation.</p>
    </div>

    <div class="training-section">
      <h3 class="section-title"><span class="title-text">Méthode pédagogique</span></h3>
      <p>La session de formation complète (8 heures) requiert que les participants amènent un ordinateur portable avec un accès WiFi.</p>

      <p>Orientée <i>use-case</i>, cette formation couvrira le matin l'installation, le paramètrage et l'ensemble des cas de base.</p>

      <p>L'après midi, nous nous attacherons à l'étude et la pratique de cas plus avancés. Aussi nous étudierons un processus de travail applicable au jour le jour dans une équipe de taille modérée (3-10 personnes par projet).</p>

      <p>Accès sur la pratique, la formation est composée de 70% d'exercices et de 30% de théorie.</p>
    </div>

    <div class="training-section">
      <h3 class="section-title"><span class="title-text">Au programme</span></h3>
      <p>
      <b>Concepts et historique (45min)</b>
      <ul>
        <li>Qu'est qu'un VCS ? Un DVCS ?</li>
        <li>Pourquoi utiliser un DVCS ? Dans quel cas ?</li>
        <li>Git</li>
      </ul>
      </p>

      <p>
      <b>Installation et paramètrage (45min)</b>
      <ul>
        <li>Installation</li>
        <li>Génération des clefs SSH</li>
        <li>Configuration (<tt>config</tt>)</li>
      </ul>
      </p>

      <p>
      <b>Cas de base (2h30)</b>
      <ul>
        <li>Récupérer le code source (<tt>clone</tt>)</li>
        <li>Publier des modifications (<tt>add</tt>, <tt>commit</tt>, <tt>push</tt>)</li>
        <li>Ignorer certaines fichiers (<tt>.gitignore</tt>)</li>
        <li>Mettre à jour ses sources (<tt>pull</tt>, <tt>fetch</tt>)</li>
        <li>Résoudre un conflit (<tt>merge</tt>, <tt>rebase</tt>)</li>
        <li>Créer une branche (<tt>branch</tt>, <tt>checkout</tt>) </li>
        <li>Développer sur une branche et fusionner ses modifications </li>
      </ul>
      </p>

      <p>
      <b>Cas avancés (2h30)</b>
      <ul>
        <li>Préparer son historique avant la publication (<tt>rebase -i</tt>)</li>
        <li>Annuler un commit local (<tt>reset</tt>)</li>
        <li>Annuler un commit distant (<tt>revert</tt>)</li>
        <li>Mettre de côté certaines modifications (<tt>stash</tt>)</li>
      </ul>
      </p>

      <p>
      <b>Day to Day Workflow (1h30)</b>
      <ul>
        <li>Flux centralisé (SVN-like)</li>
        <li>Branche de fonctionnalité (<i>Feature branching</i>)</li>
        <li>Forking</li>
      </ul>
      </p>

      <p>
      <b>Bonus (S'il reste du temps)</b>
      <ul>
        <li>Trouver une regression automatiquement (<tt>bisect</tt>)</li>
        <li>Faire des commits partiels de fichier (<tt>commit -i</tt>)</li>
        <li>Retrouver les différents états du dépôt (<tt>reflog</tt>)</li>
      </ul>
      </p>

    </div>
  </div>


  <aside class="col-md-4 col-lg-3">
    <div class="sidebox training-info">
      <img src="/images/formations/git.png" class="training-picture"/>
      <h3 class="info-title">Durée</h3>
      <p class="duration">1 journée</p>

      <hr>
      <h3 class="info-title">Prix</h3>
      <span class="price-tag"><span class="price">490€</span></span>
      <br><br>

      <a href="#form-contact" class="btn btn-primary">Demander un devis</a>
      <hr>

      <h3 class="info-title">Audience</h3>
      <p>Développeurs</p>
      <hr>

      <h3 class="info-title">Formateur</h3>
      <div class="row text-center">
        <div class="col-md-12 person">
          <img src="/images/membres/MaximeGaudin.png" class="person-picture" />
          <h2 class="person-title">Maxime Gaudin</h2>
          <p class="person-share">
          <a href="https://www.twitter.com/maxigaud" title="@maxigaud"><i class="fa fa-twitter"></i></a>
          <a href="https://github.com/MaximeGaudin" title="MaximeGaudin@github"><i class="fa fa-github"></i></a>
          </p>
        </div>
      </div>
    </div>
  </aside>
</div>
